.el-col {
	margin-top: 10px;
}

.names {
	margin-top: 100px;
	padding: 30px;
}
.images {
	margin-top: 100px;
}
.armyImage {
	height: 25px;
	padding: 0px;
	margin-top: 15px;
}
.el-row {
	padding: 20px;
}
.counters {
	margin-top: 120px;
}
.unit {
	margin-bottom: 42px;
	padding-top: 10px;
}
.coordinates {
	margin-top: 350px;
}
.village .el-input-number {
	margin: 5px;
}
.village h3 {
	word-spacing: 120px;
}
