.centre {
	display: flex;
	justify-content: center;
}
.body {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.names {
	display: flex;
	flex-direction: column;
}
.names h3 {
	margin: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	flex: 0 0 20%;
}
.armyImage {
	height: 30px;
	top: 15px;
	padding-bottom: 25px;
}
.unit {
	margin-bottom: 20px;
	padding-top: 10px;
}
.confirm {
	margin: 10px;
}
