.centre {
	display: flex;
	justify-content: center;
}
.body {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.names {
	display: flex;
	flex-direction: column;
}
.names h3 {
	margin: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	flex: 0 0 20%;
}
.el-image {
	height: 30px;
	margin-right: 20px;
}
.unit {
	margin-top: 15px;
	margin-right: 20px;
}
