$primary-background-color: rgba(255, 211, 65, 0.4) !default;
$router-view-background-color: rgba(244,200,63,0.42) !default;
$router-view-border: 5px outset rgba(255, 211, 65, 0.75) !default;
$text-color: dimgray !default;
$font-stack: Avenir, Helvetica, Arial, sans-serif !default;